@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* @import url(""); */

@font-face {
    font-family: 'Circular';
    src: url('font/circular.otf')
}

* {
    font-family: 'Circular';
}
