@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* @import url("../font/Circular\ Std\ Font.otf"); */

@font-face {
    font-family: 'Circular Std';
    src: url('../font/Circular\ Std\ Book.ttf')
}

* {
    font-family: 'Circular Std';
}
