@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
    font-family: 'Circular Std';
    src: url('../../../static/font/CircularStdBook.ttf')
}

* {
    font-family: 'Circular Std';
}
