<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'tailwind.css' %}"></link>
</head>
<body>
    <div class="flex w-screen h-screen">
        <!-- Div to background image -->
        <div class="w-3/4">
            <img 
                src="{% static 'images/background.jpeg' %}"
                class="h-screen w-screen"/>
        </div>

        <!-- Div to authentication -->
        <div class="w-1/4 bg-gray-300">
            <div>

            </div>
        </div>
    </div>
</body>
</html>